:root {
    --color-background: #404040;
    --color-accent: #ffa500;
    --color-action-main: #808080;
    --color-action-dark: #656565;
    --color-text: #ffffff;
    --color-background-main: color-mix(in srgb, var(--color-background), #000 30%);
    --color-action-dark-hover: color-mix(in srgb, var(--color-action-dark), #fff 10%);
    --color-action-main-hover: color-mix(in srgb, var(--color-action-main), #fff 10%);
    --color-accent-hover: color-mix(in srgb, var(--color-accent), #fff 10%);
    background-color: var(--color-background-main);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-text);
}

header {
    display: flex;
    width: 100vw;
    padding: 2em;
    justify-content: space-between;
}

footer{
    padding: 1em 2em;
}

.calculator {
    width: 50vw;
    margin: auto;
    border-radius: 3vw;
    overflow: hidden;
    color: var(--color-text);
}

.calculator-actions {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: var(--color-background);
    gap: 0.2vw;
}

#zero {
    grid-area: 5 / 1 / 6 / 3;
}

.calculator__input {
    width: 100%;
    background-color: var(--color-background);
    box-shadow: none;
    font-size: 10vw;
    text-align: right;
    border: none;
    outline: none;
    padding: 2vw
}

.theme-change {
    background-color: var(--color-accent);
    border: none;
    border-radius: 0.5vw;
    padding: 0.5vw 1vw;
    cursor: pointer;
}

input:focus {
    border: none;
    outline: none;
}

.calculator-actions__action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4vw;
    background-color: var(--color-action-main);
    font-size: 3vw;
    transition: background-color 0.1s ease-in-out;
    border-radius: 0.1vw;
    border: 0px;
    cursor: pointer;
}

.calculator-actions__action:hover {
    background-color: var(--color-action-main-hover);
}

.calculator-actions__action_highlighted {
    background-color: var(--color-accent);
}

.calculator-actions__action_highlighted:hover {
    background-color: var(--color-accent-hover);
}

.calculator-actions__action_dark {
    background-color: var(--color-action-dark);
}

.calculator-actions__action_dark:hover {
    background-color: var(--color-action-dark-hover);
}

dialog {
    padding: 5vw;
    margin: auto;
    background-color: var(--color-background);
    border: 1px solid var(--color-action-dark);
    border-radius: 2vw;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

label{
    display: flex;
    align-items: center;
    gap:10px;
}

#buttons{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1vw;
}

#buttons button:nth-child(1){
    background-color: var(--color-accent);
}

#buttons button:nth-child(2){
    background-color: var(--color-action-main);
}
#buttons button{
    width:100%;
    padding: 5px 10px;
    border: 0px;
    border-radius: 0.5vw;
}

#history {
    padding: 1em;
    color: var(--color-action-main);
    background: var(--color-background);
}

hr {
   border: 1px solid var(--color-action-dark-hover) 
}